<app-layout>
  <div class="heading">
    <app-heading>Hello Yaroslav!</app-heading>
    <h2>Welcome back!</h2>
    <p>Доброго часу доби, шановні студенти! Сьогодні я вирішив написати статтю, в якій розповім, як заробити гроші студенту в інтернеті, виконуючи певну онлайн роботу.

      Я пам’ятаю, коли я був студентом, мені завжди потрібні були гроші на різні витрати, але батьки не могли мені давати стільки грошей. Тоді я почав вивчати віддалений заробіток через інтернет. Кожен студент хоче щоб вистачало грошей на все, в тому числі і весело провести час, але не кожен може собі це дозволити.
      
      Влаштуватися на офіційну роботу немає можливості, так як навчання займає весь основний час, а знайти роботу з вільним графіком не так легко.</p>
  </div>
</app-layout>